@media screen and (max-width: 1440px) {
  .slider {
    height: 100%;
  }
  .slider-image {
    width: 100%;
    padding: 0 50px;
  }
  /* Feature */
  .feature-left,
  .feature-right {
    width: 200px;
    height: 100%;
  }
  .feature-left img,
  .feature-right img {
    height: 100%;
  }
  .feature-image {
    margin: 70px;
  }
}

@media screen and (max-width: 1365px) {
}

@media screen and (max-width: 1024px) {
  /* DIFFERENT */
  .different-list {
    max-width: 503px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 70px;
  }
  .different-item {
    width: 50%;
    padding: 0;
    margin-bottom: 37px;
  }
  .different-item:nth-child(3),
  .different-item:nth-child(4) {
    margin-bottom: 0;
  }
  /* PRE ORDER */
  .preoder-content {
    padding: 0 70px;
  }
  .modal-preorder {
    /* height: 100%; */
  }
  .modal-main {
    width: 70%;
    height: 70%;
  }
  /* 360 */
  .image360 {
    margin-bottom: 70px;
  }
  .image360-main {
    padding: 0 150px;
  }
  .content360 {
    display: block;
  }
  /* FEATURE */
  .feature-left,
  .feature-right {
    width: 193px;
    height: 700px;
    bottom: 0;
  }
  .feature-image {
    order: 1;
    margin: 70px 161px 91px;
  }
  .feature-content-left {
    order: 2;
    margin: 0 auto;
  }
  .feature-content-right {
    order: 3;
    flex-direction: column;
    align-items: center;
  }
  .feature-content {
    padding: 0;
    margin-top: 40px;
    width: 100%;
  }
  .cart-buy {
    order: 4;
  }
  /* Story */
  .story-main {
    padding: 0 70px;
  }
  .story-img {
    width: 600px;
  }
  .story-body {
    right: 70px;
  }
  .checkbox {
    margin-right: 32px;
  }
  /* OUTLINE */
  .outline-body {
    padding: 0 70px;
    flex-direction: column;
  }
  .outline-img {
    width: 100%;
  }
  .outline-reserve {
    display: none;
  }
  .outline-capital {
    display: block;
  }
  .outline-content {
    margin-left: 0;
  }
  .outline-desc {
    margin-bottom: 70px;
  }
  .outline-text {
    margin-top: 30px;
    margin-bottom: 52px;
  }
  .cart-buy.left {
    text-align: center;
  }

  /* PRICE */
  .price-main {
    flex-direction: column-reverse;
    padding: 0 70px;
  }
  .price-image img {
    padding: 60px 160px 0 0;
  }
  .price-heading {
    margin-top: 70px;
  }
  /* .price-capital {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .price-reserve {
    display: none;
  } */
  .price-heading {
    margin-right: 0;
  }
  .price-title,
  .price-category {
    text-align: center;
  }
  /* MEDIA */
  .media-main {
    padding: 0 70px;
  }
  .media-big {
    width: 50%;
    height: 659px;
  }
  .media-small {
    margin-left: 22px;
    flex: 1;
  }
  .media-small_up {
    margin-bottom: 22px;
  }
  .media-small_up,
  .media-small_down {
    width: 100%;
    height: 319px;
  }
  .media-pani {
    margin: 70px 0;
  }
  /* EXPERIENCE */
  .experience-main {
    padding: 0 70px;
  }
  .experience-image {
    width: 45%;
  }
  .experience-list {
    max-width: 210px;
  }
  .experience-descc,
  .experience-name {
    font-size: 12px;
    line-height: 14px;
  }
  /* Contact */
  .contact-main {
    flex-direction: column-reverse;
    padding: 0 70px;
  }
  .contact-body {
    margin: 0 auto;
  }
  .contact-hotline i {
    display: none;
  }
  .left.vulcan-image,
  .contact-title,
  .contact-desc,
  .contact-name {
    text-align: center;
  }
  .contact-hotline {
    justify-content: center;
  }
  .form-contact {
    width: 100%;
  }
  .form-width {
    width: 100%;
    text-align: center;
  }
  .maps-content {
    left: 70px;
  }
}
@media screen and (max-width: 768px) {
  /* PRE ORDER */
  .preoder-content {
    flex-direction: column;
    align-items: center;
  }
  .preorder-right {
    margin-top: 120px;
  }
  .preorder-new::before {
    height: 100%;
    left: 50%;
    top: -40px;
    transform: rotate(-45deg) translateY(-50%) translateX(-50%);
  }
  .modal-main {
    width: 100%;
    height: 100%;
  }

  /* 360 */
  .image360-main {
    padding: 0 70px;
  }

  /* Feature */
  .feature-left,
  .feature-right {
    width: 166px;
    height: 600px;
  }
  .feature-image {
    margin: 70px;
  }

  /* STORY */
  .story-capital {
    display: block;
  }
  .story-reserve {
    display: none;
  }
  .story-image,
  .story-title,
  .story-desc {
    text-align: center;
  }
  .story-body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: unset;
  }
  .checkbox {
    margin: -30px 0 0 0;
  }
  .story-item {
    text-align: center;
  }
  .story-img {
    width: 100%;
    height: 100%;
  }

  /* Experience */
  .experience-desc {
    max-width: 423px;
    width: 100%;
    margin: 0 auto;
  }
  .experience-list {
    max-width: 163px;
  }
  .experience-btn {
    width: 4px;
    height: 4px;
    margin: 0 4px;
  }
  .experience-btn.change {
    width: 5px;
    height: 5px;
  }

  /* MAPS */
  .maps-content {
    max-width: 100%;
    width: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@media screen and (max-width: 425px) {
  .mb70px {
    margin-bottom: 30px;
  }
  .scrollTop,
  .scroll-contact {
    display: none;
  }
  .sroll-reverse {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: none;
  }
  .vulcan-image {
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }
  .vulcan-image img {
    width: 100%;
    height: 100%;
  }
  .global-title {
    padding-top: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
  }
  .global-desc {
    /* padding: 0 40px; */
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }
  .global-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  /* Slider */
  .slider {
    margin-top: 30px;
  }
  .slider-image {
    padding: 0 30px;
  }
  .slider-item {
    margin: 0;
  }
  .slider-heading {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    margin-bottom: 13px;
  }
  .slider-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-color);
  }
  .panigation .btn {
    width: 3px;
    height: 3px;
    margin: 10px 5px 20px;
  }
  .panigation .btn.active {
    width: 3px;
    height: 3px;
    -webkit-box-shadow: 0px 0px 0px 3px rgb(215 32 70 / 30%);
    box-shadow: 0px 0px 0px 3px rgb(215 32 70 / 30%);
  }

  /* Different */
  .different {
    padding: 0 30px;
  }
  .different-list {
    margin-top: 30px;
  }
  .different-item {
    width: 50%;
  }
  .different-img {
    width: 40px;
    height: 40px;
  }
  .different-name {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  /* PRE ORDER */
  .preoder-content {
    margin-top: 30px;
    padding: 0 30px;
  }
  .preorder-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  .preorder-list_name {
    font-size: 14px;
    line-height: 16px;
  }
  .preorder-title {
    font-size: 40px;
    line-height: 47px;
  }
  .preorder-item {
    font-size: 14px;
    line-height: 20px;
  }
  .preorder-item span {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.05em;
  }
  .preorder-desc {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 110px;
    width: 100%;
    margin: 0 auto;
  }
  .preorder-right {
    margin-top: 70px;
  }
  .preorder-price {
    margin-bottom: 30px;
  }
  .preorder-new {
    font-size: 30px;
    line-height: 35px;
  }
  .preorder-old {
    font-size: 14px;
    line-height: 16px;
  }

  .preorder-form {
    padding: 30px;
  }
  .preorder-field label {
    font-size: 12px;
    line-height: 14px;
  }
  .modal-name {
    font-size: 12px;
    line-height: 14px;
  }

  /* FEATURE */
  .cart-buy {
    margin-top: 30px;
  }
  .feature-list {
    margin-bottom: 0;
  }
  .feature-left,
  .feature-right {
    height: 180px;
    width: 50px;
    top: 22%;
    z-index: -1;
  }
  .feature-image {
    margin: 45px 30px;
  }
  .btn-click {
    font-size: 12px;
    line-height: 14px;
    padding: 6px 16px;
  }
  .feature-content-right {
    flex-direction: column;
  }
  .feature-name {
    margin-bottom: 16px;
  }
  .feature-description {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
  }
  .feature-content {
    width: 100%;
    position: relative;
  }
  .feature-content::before {
    content: "";
    position: absolute;
    width: 25px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* STORY */
  .story-main {
    padding: 0 30px;
  }
  .story-item {
    margin-top: 30px;
  }
  .checkbox {
    margin: 20px 0;
  }
  .scrolldown {
    --sizeX: 12px;
    --sizeY: 30px;
  }
  .scrolldown::before {
    width: 4px;
    height: 4px;
  }
  .chevrons {
    margin-left: 30px;
  }
  .chevrondown {
    width: 4px;
    height: 4px;
    top: -8px;
  }
  .story-content {
    padding: 20px 46px;
  }
  .controls {
    display: none;
  }
  .story-item {
    padding: 0;
  }

  /* Outline */

  .outline-body {
    flex-direction: column;
    padding: 0 30px;
  }
  .outline-desc {
    margin-bottom: 30px;
  }
  .outline-img,
  .outline-content {
    width: 100%;
  }
  .outline-content {
    margin-left: 0;
  }
  .outline-text {
    margin: 20px 0 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .outline-desc {
    padding: 0 30px;
  }
  /* 360 */
  .image360 {
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .image360-main {
    padding: 0;
  }
  .image360-desc {
    margin-top: 30px;
    padding: 0 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .content360 {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    top: 95%;
  }

  /* PRICE */
  .price-main {
    padding: 0 30px;
  }
  .price-title p {
    font-size: 40px;
    line-height: 47px;
    margin-top: 0;
  }
  .price-image img {
    padding: 30px 50px 0 0;
  }
  .price-heading {
    margin-top: 30px;
  }
  .price-price {
    font-size: 40px;
    line-height: 47px;
  }
  .price-category {
    font-size: 14px;
    line-height: 20px;
  }
  .price-desc {
    text-align: center;
  }

  /* MEDIA */
  .media-main {
    padding: 0 30px;
  }
  .media-desc {
    margin-bottom: 30px;
  }
  .media-big {
    /* width: 100%; */
    height: auto;
  }
  .media-small {
    width: 70%;
    margin-left: 8px;
  }
  .media-small_up {
    height: 50%;
    width: 100%;
  }
  .media-small_down {
    flex: 1;
    height: 50%;
  }
  /* .media-small_up,
  .media-small_down {
    width: 100%;
    height: 100%;
  } */
  .media-small_up {
    margin-bottom: 8px;
  }
  .media-pani {
    margin: 20px 0;
  }
  .media-btn {
    width: 4px;
    height: 4px;
    margin: 0 4px;
  }
  .media-btn.activeddd::before {
    width: 6px;
    height: 6px;
  }
  .video-item iframe {
    height: 100%;
  }

  /* Experience */

  .experience {
  }
  .experience-main {
    padding: 0 30px;
  }
  .experience-heading {
    margin-bottom: 30px;
  }
  .experience-body {
    flex-direction: column;
  }
  .experience-image {
    width: 55%;
  }
  .experience-images img {
    display: none;
  }
  .experience-list {
    position: unset;
    margin: 0 auto;
    transform: none;
    max-width: 202px;
  }
  .experience-descc {
    color: black;
    text-align: center;
  }
  .experience-content {
    margin-top: 30px;
  }
  .experience-avt,
  .experience-nagi {
  }
  .experience-btn {
    background: #e5e5e5;
  }
  .experience-name {
    color: #c4c4c4;
  }
  .experience-btn.change {
    background: #c4c4c4;
  }
  /* CONTACT */
  .contact-main {
    flex-direction: column-reverse;
    padding: 0 30px;
  }
  .contact-body {
    width: 100%;
    margin-left: 0;
  }
  .contact-title {
    text-align: center;
  }
  .contact-desc {
    text-align: center;
    margin-bottom: 30px;
  }
  .contact-name {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }
  .contact-hotline {
    flex-direction: column;
  }
  .contact-hotline li {
    border: none;
    margin-bottom: 21px;
    position: relative;
  }
  .contact-hotline li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background: #c4c4c4;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .contact-hotline i {
    display: none;
  }
  .contact-hotline a {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
  }
  .contact-hotline li:first-child {
    padding-left: 34px;
  }
  .contact-hotline li:last-child {
    padding-right: 34px;
  }
  .form-contact {
    margin-top: 17px;
    width: 100%;
  }
  .half-width {
    width: 100%;
  }
  .submit-btn {
    margin-top: 19px;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 21px;
  }
  .form-contact .form-field {
    width: 100%;
    text-align: center;
  }

  /* MAPS */
  .maps-content {
    padding: 22px 29px 15px 30px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 315px;
    width: 100%;
  }
  .maps-image {
    width: 100%;
    height: 180px;
  }
  .maps-image img {
    width: 100%;
    height: 100%;
  }
  .maps-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .maps-item i {
    margin-right: 0;
  }
  i.maps-icon.icon-web {
    margin-right: 0;
  }
  .maps-icon {
    margin: 5px 0;
  }
  .maps-item a {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .span-top,
  .span-center,
  .span-bottom {
    width: calc(100% / 3);
    height: 1%;
  }
  .span-bottom {
    top: 0;
    right: 0;
    left: auto;
  }
  .span-top {
    top: 0;
    left: 0;
  }
  .span-center {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
  /* FOOTER */
  .footer-main {
    padding: 41px 0;
  }
  .footer-img {
    height: 34px;
    width: 100px;
    margin: 0 auto;
  }
  .footer-img img {
    width: 100%;
    height: 100%;
  }
  .footer-menu {
    display: none;
  }
  .footer-icons {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  .footer-icons::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background: #c4c4c4;
    top: -25px;
  }
  .footer-icons::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background: #c4c4c4;
    bottom: -25px;
  }
  .icon-footer {
    color: white;
    background: white;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    width: 20px;
    height: 20px;
    z-index: 0;
  }
  .icon-footer i {
    color: #d72046;
    font-size: 12px;
    margin-left: 1px;
  }
}
