@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1365px) {
 
}

@media screen and (max-width: 1023px) {
  
}
@media screen and (max-width: 767px) {
  .mb70px{
    margin-bottom: 30px;
  }
  .vulcan-image{
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }
  .vulcan-image img{
    width: 100%;
    height: 100%;
  }
  .global-title{
    padding-top: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
  }
  .global-desc{
    padding: 0 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }
  .global-name{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  /* Slider */
  .slider{
    height: 100%;
    padding: 30px 30px 0;
  }
  .slider-item{
    margin: 0;
  }
  .slider-heading{
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    margin-bottom: 13px;
  }
  .slider-title{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-color);
  }
  .panigation .btn{
    width: 3px;
    height: 3px;
    margin: 10px 5px 20px;
  }
  .panigation .btn.active{
    width: 3px;
    height: 3px;
    -webkit-box-shadow: 0px 0px 0px 3px rgb(215 32 70 / 30%);
    box-shadow: 0px 0px 0px 3px rgb(215 32 70 / 30%);

  }

  /* Different */
  .different{
    padding: 0 30px;
  }
  .different-list{
    margin-top: 15px;
    flex-wrap: wrap;
  }
  .different-item{
    width: 50%;
    padding: 15px 22px;
  }
  .different-item:nth-child(odd){
    padding-left: 0;
  }
  .different-item:nth-child(even){
    padding-right: 0;
  }
  .different-item:nth-child(3), .different-item:nth-child(4){
    padding-bottom: 0;
  }
  .different-img{
    width: 40px;
    height: 40px;
  }
  .different-name{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  /* FEATURE */
  .feature-list{
    margin-bottom: 0;
  }
  .feature-left, .feature-right{
    height: 180px;
    width: 50px;
    top: 22%;
    z-index: -1;
  }
  .feature-content-left{
    order: 3;
    margin-top: 45px;
  }
  .feature-image{
    order: 1;
    margin: 45px 30px;
  }
  .cart-buy{
    order: 2;
    margin-top: 0;
  }
  .btn-click{
    font-size: 12px;
    line-height: 14px;
    padding: 6px 16px;
  }
  .feature-content-right{
    order: 4;
    flex-direction: column;
  }
  .feature-name{
    margin-bottom: 16px;
  }
  .feature-description{
    max-width: 250px; 
    width: 100%;
    margin: 0 auto;
  }
  .feature-content{
    width: 100%;
    padding: 41px 0 0 0;
    position: relative;
  }
  .feature-content::before{
    content: "";
    position: absolute;
    width: 25px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* STORY */
  .story-img{
    width: 220px;
    height: 250px;
  }
  .checkbox{
    margin: 20px 0;
  }
  .scrolldown{
    --sizeX: 12px;
    --sizeY: 30px;
  }
  .scrolldown::before{
    width: 4px;
    height: 4px;
  }
  .chevrons{
    margin-left: 30px;
  }
  .chevrondown{
    width: 4px;
    height: 4px;
    top: -8px;
  }
  .story-content{
    padding: 20px 46px;
  }
  .controls{
    display: none;
  }
  .story-item{
    padding: 0;
  }

  /* Outline */
  .outline{
    padding: 0 30px;
  }
  .outline-body{
    flex-direction: column;
  }
  .outline-reserve{
    display: none;
  }
  .outline-capital{
    display: block;
  }
  .outline-img, .outline-content{
    width: 100%;
  }
  .outline-content{
    margin-left: 0;
  }
  .outline-text{
    margin: 20px 0 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .outline-desc{
    padding: 0 30px;
  }
  /* 360 */
  .image360{
    padding: 0 30px;
  }
  .image360-desc{
    margin-top: 30px;
    padding: 0 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }

  /* Experience */
  .experience{
    
  }
  .experience-heading{
    margin-bottom: 30px;
  }
  .experience-body{
    flex-direction: column;
    padding: 0 30px;
  }
  .experience-images img{
    display: none;
  }
  .experience-list{
    position: relative;
  }
  .experience-descc{
    color: black;
    
  }
  .experience-avt, .experience-nagi{
    
  }

}
