@media screen and (max-width: 1440px) {
  /* slider */
  .panigation {
    left: 160px;
  }
  .slider-content {
    left: 265px;
  }
  /* feature */
  .feature-left {
    display: none;
  }
  .feature-right {
    display: none;
  }
  /* sotry */
  .story-content {
    padding: 0 100px;
  }
  .story-content::before {
    width: 100%;
  }
  .story-item {
    padding: 30px 50px;
  }
  .sotry-description {
    max-width: 800px;
  }
  .story-line::before {
    left: 219px;
  }
  /* Meaning */
  .mr-t {
    margin-top: -400px;
  }
  /* price */
  .price {
    margin-top: -300px;
  }
}

@media screen and (max-width: 1365px) {
  /* Header */
  .header-main {
    justify-content: space-around;
  }
  .header-menu li .header-links:last-child {
    margin-right: 0;
  }
  /*Different  */
  .different {
    padding: 0 25px;
  }
  .different-name {
    margin-top: 20px;
  }
  .different-item {
    padding: 0 20px;
  }
  /* Feature */
  .feature {
    margin-bottom: 70px;
    padding: 0 50px;
  }
  .feature-content {
    padding: 0 14px;
  }
  .feature-left,
  .feature-right {
    display: none;
  }
  /* Story */
  .story-content {
    padding: 0;
  }
  .story-content::before {
    width: 100%;
    padding: 5px 0;
  }
  .story-item {
    padding: 30px 50px;
  }
  .story-line::before {
    left: 0;
  }
  /* Detail */
  .detail-img {
    padding: 0 50px;
  }
  /* outline */
  .outline-body {
    padding: 0 25px;
  }
  .outline-content {
    margin-left: 50px;
  }
  /* 360 */
  .product-img360 {
    padding: 0 20px;
  }
  /* Meaning */
  .meaning-heading {
    margin: 0;
  }
  .meaning-heading::before {
    left: 50%;
  }
  .meaning-heading h1 {
    margin: 0;
  }
  .meaning-heading h1,
  .meaning-heading .meaning-desc {
    text-align: center;
  }
  .meaning-item {
    margin-top: 40px;
  }
  .pd-right {
    padding-right: 100px;
  }
  .pd-left {
    padding-left: 100px;
    margin-top: -150px;
  }
  .mr-t {
    margin-top: -380px;
  }
  /* .meading-image{
        padding: 0 100px;
    }
    .bg-yellow{
        background-position: -174px center;
        height: 870px;
    }
    .bg-pink{
        height: 870px;
        background-position: 429px center;
    }
    .bg-green{
        height: 870px;
        background-position: -125px;
        padding-top: 100px;
        margin: 0;
    } */
  /* experience */
  .experience {
    padding: 0 25px;
  }
  .experience-image {
    width: 40%;
  }
  .experience-content {
  }
  /* Price */
  .price {
    margin-top: -200px;
  }
  .price-main {
    padding: 0 25px;
  }
  .price-image img {
    padding: 0;
    /* height: auto;
        width: 100%; */
  }
  /* experience */

  /* Contact */
  .contact-hotline a {
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .global-title {
    font-size: 20px;
    padding-top: 70px;
  }
  .global-desc {
    font-size: 20px;
  }
  .mb70px {
    margin-bottom: 70px;
  }
  /* Menu */
  .header-main {
    justify-content: space-between;
    padding: 0 50px;
  }
  .hamburger {
    display: block;
  }

  .header-menu {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    background-color: var(--white-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
    align-items: flex-end;
    justify-content: center;
    padding-right: 60px;
  }
  .menu-item {
    margin: 16px 0;
  }
  .header-menu.actived {
    left: 0;
  }
  /* Slider */
  .slider-image img {
    object-position: 60px;
  }
  .slider-content {
    left: 110px;
    bottom: 20px;
  }
  .panigation {
    left: 70px;
    bottom: 10px;
  }
  .panigation .btn {
    margin: 10px 0;
  }
  .slider-heading {
    font-size: 60px;
    line-height: 40px;
  }
  /* Different */
  .different-list {
    margin-top: 50px;
  }
  .different-item {
    flex-direction: column;
    padding: 20px 10px;
    margin: 0 5px;
    border-radius: 4px;
    /* border: 1px solid #000; */
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  }
  .different-item:first-child {
    padding-left: 5px;
  }
  .different-item:last-child {
    padding-right: 5px;
  }
  /* Feature */
  .feature {
    padding: 0 30px;
  }
  .feature-content-left {
    margin-top: 50px;
  }
  .feature-image {
    margin: 50px 0;
  }
  .feature-name {
    font-size: 12px;
    line-height: 16px;
  }
  .feature-description {
    font-size: 10px;
  }
  /* Story */
  .story-img {
    width: 700px;
    height: 700px;
  }
  /* Outline */
  .detail-desc {
    margin-bottom: 50px;
  }
  .outline-content {
    margin-left: 30px;
  }
  /* 360 */
  .image360 {
    margin-bottom: -50px;
  }
  #product_viewer {
    padding: 100px;
  }
  /* Meaning */
  /* .bg-yellow{
        background-position: -195px center;
        height: 700px;
    }
    .bg-pink{
        height: 700px;
        background-position: 300px center;
    }
    .bg-green{
       height: 660px;
    } */
  .mr-t {
    margin-top: -300px;
  }
  /* Price */
  .price {
    margin-top: -170px;
  }
  /* Ex */
  .experience-heading {
    margin-bottom: 30px;
  }
  .experience-list {
    max-width: 200px;
    width: 100%;
  }
  .experience-titlee {
    font-size: 14px;
  }
  .experience-name {
    font-size: 12px;
  }
  .experience-descc {
    font-size: 10px;
    line-height: 14px;
  }
  /* Contact */
  .contact-main {
    flex-direction: column-reverse;
  }
  .form-contact {
    width: 100%;
    margin-top: 70px;
  }
  .contact-body {
    width: 100%;
    padding: 0 25px;
    margin: 0;
  }
  .contact-desc {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .global-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .global-desc {
    font-size: 14px;
    line-height: 20px;
  }
  .mb70px {
    margin-bottom: 30px;
  }
  /* Header */
  .header-logo {
    width: 100px;
  }
  .bar {
    width: 20px;
    height: 2px;
  }

  /* Slider */
  .slider-image img {
    object-position: 30px;
  }
  .slider-content {
    left: 90px;
    bottom: 5px;
  }
  .slider-title {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 5px;
  }
  .slider-heading {
    font-size: 20px;
    line-height: 20px;
  }
  .panigation {
    bottom: 5px;
  }
  .panigation .btn {
    margin: 3px 0;
    height: 4px;
    width: 4px;
  }
  .panigation .btn.active {
    width: 5px;
    height: 5px;
    -webkit-box-shadow: 0px 0px 0px 2px rgb(215 32 70 / 30%);
    box-shadow: 0px 0px 0px 2px rgb(215 32 70 / 30%);
  }
  /* different */
  .different {
    padding: 0 10px;
  }
  .different-list {
    margin-top: 20px;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .different-item {
    margin: 0;
    padding: 10px;
    width: 50%;
  }
  .different-img {
    width: 30px;
    height: 30px;
  }
  .different-name {
    font-size: 10px;
    margin: 5px 0;
  }
  .different-text {
    font-size: 8px;
    line-height: 10px;
  }
  /* feature */
  .feature {
    padding: 0 15px;
  }
  .feature-list {
    margin-bottom: 30px;
  }
  .feature-content-left {
    max-width: 200px;
    margin-top: 20px;
  }
  .feature-image {
    margin: 20px;
  }
  .feature-content {
    padding: 0 5px;
  }
  .feature-name {
    font-size: 6px;
    line-height: 8px;
  }
  .feature-description {
    font-size: 8px;
    line-height: 10px;
  }
  .btn-click {
    padding: 5px 19px;
    font-size: 8px;
  }

  /* Story */

  .story-img {
    width: 350px;
    height: 300px;
  }
  .checkbox-image {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .story-item {
    padding: 20px 10px;
  }
  .story-name {
    font-size: 10px;
    line-height: 14px;
  }
  .sotry-description p {
    margin-top: 10px;
    font-size: 8px;
    line-height: 10px;
  }
  .controls {
    padding: 20px 10px;
  }
  .box {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .box::before {
    display: none;
  }

  .icon-click {
    font-size: 5px;
  }

  /* .story-item::before {
    width: 100%;
  }
  .story-content {
    flex-direction: column;
  }
  .controls {
    flex-direction: row;
  }
  .story-line::before {
    left: 0;
    width: 100%;
  } */
  /* Outline */
  .outline-body {
    flex-direction: column;
  }
  .outline-content {
    margin-top: 20px;
    margin-left: 0;
  }
  .outline-img {
    height: auto;
  }
  /* 360 */
  .image360 {
    margin: -50px 0;
  }
  .icon-360 img {
    width: 50px;
    height: 50px;
  }
  /* .product-img360 img#product{
        padding: 50px;
    } */
  #product_viewer {
    padding: 50px;
  }
  /* meaning */
  .pd-right {
    padding-right: 30px;
  }
  .pd-left {
    margin-top: -100px;
    padding-left: 30px;
  }
  .mr-t {
    margin-top: -150px;
  }
  /* .meaning-item{
        padding: 30px 0;
    }
    .bg-yellow{
        background-position: -40px center;
        height: 300px;
    }
    .bg-pink{
        height: 300px;
        background-position: 155px center;
        padding: 0;
    }
    .bg-green{
       height: 300px;
       background-position: -30px center;
    } */
  /* Price */
  .price {
    margin-top: -100px;
  }
  .price-main {
    flex-direction: column-reverse;
  }
  .price-heading {
    margin: 20px 0 0 0;
  }
  .price-image img {
    padding: 50px 0 20px 0;
  }
  /* Experience */
  .experience-main {
    flex-direction: column-reverse;
  }
  /* Contact */
  .left.vulcan-heading::before {
    left: 50%;
    margin-left: 0;
  }
  .contact-title {
    text-align: center;
  }
  .contact-desc {
    text-align: center;
  }
  .contact-name {
    text-align: center;
  }
  .contact-hotline li {
    padding: 0;
    border: 0;
  }
  .contact-hotline i {
    display: none;
  }
  .contact-hotline {
    flex-direction: column;
  }
  .form-field.half-width {
    width: 100%;
  }
  /* Footer */
  .footer-menu {
    flex-direction: column;
  }
  .footer-menu .menu-item {
    padding: 15px 25px;
  }
}
