@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* *,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
} */
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 100rem;
}

body::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100rem;
}
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --primary-color: #d72046;
  --green-color: #23a1a3;
  --yellow-color: #f2b92b;
}
.mb70px {
  margin-bottom: 90px;
}
.vulcan-heading {
  position: relative;
  /* padding-top: 90px; */
}
/* .vulcan-heading::before {
  content: url(../images/threesome.png);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} */
.vulcan-image {
  text-align: center;
}
.left.vulcan-image {
  text-align: left;
}

/* .scroll-bar {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar-fixed {
  position: relative;
}
.navbar-fixed::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: black;
  left: 50%;
  transform: translateX(-50%);
}
.nav {
  display: block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.nav::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--yellow-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: var(--white-color);
}

.nav.vav {
  background: var(--white-color);
  border: 1px solid var(--green-color);
  height: 20px;
  width: 20px;
}
.nav-links {
  display: block;
  height: 4px;
  width: 4px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 111;
}
.nav-links::before {
  content: "";
  width: 20px;
  height: 20px;

} */

.social {
  position: relative;
  margin-top: 30px;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.social::before {
  content: "";
  position: absolute;
  padding: 2px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.social i {
  color: var(--white-color);
  font-size: 12px;
}
.social-backtop {
  background: var(--green-color);
}
.social-cart {
  background: var(--yellow-color);
}
.social-msg {
  background: var(--primary-color);
}
.social-backtop::before {
  border: 1px solid var(--green-color);
}
.social-cart::before {
  border: 1px solid var(--yellow-color);
}
.social-msg::before {
  border: 1px solid var(--primary-color);
}
.social-cart a {
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  z-index: 9;
}
/* *********************** */
html,
body {
  font-family: "Roboto", sans-serif;
}
/* #app {
  width: 100%;
  height: 100vh;
} */
.container-fluid {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
.container-1000w {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.vulcan {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}
.container-1400w {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/* Menu */
/* .header-main {
  margin-top: 46px;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
}
.header-logo img {
  width: 100%;
  height: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  align-items: center;
}
.header-menu li .header-links {
  display: block;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--black-color);
  text-transform: uppercase;
  position: relative;
}

.header-menu li .header-links:hover {
  color: var(--primary-color);
}
.header-menu .icon-header {
  font-size: 20px;
  margin-right: 20px;
}

/ Hamburger /

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 9;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: var(--black-color);
}
.hamburger.actived .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.actived .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.actived .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
} */

/* .slider-main {
  position: relative;
  height: 100vh;
  width: 100%;
} */
.slider {
  height: 100vh;
}

.slider-image {
  position: relative;
  display: block;
  max-width: 1700px;
  width: 100%;
  /* height: 100vh; */
  margin: 0 auto;
  /* padding: 0 100px; */
}
.slider-image img {
  width: 100%;
  height: 100%;
  /* object-fit: contain;
  object-position: top; */
}
.slider-item {
  margin: 30px 0 10px;
}
.slider-content {
  color: var(--black-color);
  /* position: absolute; */
  display: none;
  text-align: center;
}
.slider-content.active {
  display: block;
}
.slider-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 250%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.slider-heading {
  font-family: "Poiret One";
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  margin-bottom: 14px;
}

.panigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panigation .btn {
  width: 7px;
  height: 7px;
  background: #c4c4c4;
  margin-bottom: 19px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 8px 34px;
}
.panigation .btn:hover {
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 0px 0px 5px rgba(215, 32, 70, 0.3);
  box-shadow: 0px 0px 0px 5px rgba(215, 32, 70, 0.3);
}
.panigation .btn.active {
  width: 6px;
  height: 6px;
  background: var(--primary-color);
  -webkit-box-shadow: 0px 0px 0px 5px rgba(215, 32, 70, 0.3);
  box-shadow: 0px 0px 0px 5px rgba(215, 32, 70, 0.3);
}

/* DIFFERENT */
.different {
  /* margin-bottom: 70px; */
}
.different-main {
}
.different-title {
}
.different-desc {
  /* margin-bottom: 68px; */
}

.different-list {
  margin-top: 70px;
  display: flex;
  width: 100%;
}
.different-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 31px;
  width: 25%;
}
.different-item:first-child {
  padding-left: 0;
}
.different-item:last-child {
  padding-right: 0;
}
.different-img {
  width: 50px;
  height: 50px;
}
.different-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.different-content {
  /* text-align: justify;
  margin-left: 20px; */
  text-align: center;
}

.different-name {
  /* margin-bottom: 9px; */
  margin-top: 30px;
  margin-bottom: 18px;
}
.different-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #5c5c5c;
  max-width: 270px;
  width: 100%;
}

/* FEATURE */
.feature {
  /* margin-bottom: 20px; */
}
.feature-main {
  position: relative;
}
.feature-left {
  position: absolute;
  left: 0;
}
.feature-left img {
  width: 100%;
  height: auto;
}
.feature-right img {
  width: 100%;
  height: auto;
}
.feature-right {
  position: absolute;
  right: 0;
}
.feature-list {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 85px;
}
.feature-item {
  display: flex;
  flex-direction: column;
}
.feature-content-left {
  margin-top: 70px;
  max-width: 470px;
  width: 100%;
  margin: 70px auto 0;
}
.feature-name {
  margin-bottom: 10px;
}
.feature-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.feature-image {
  margin: 70px 0;
}
.feature-image img {
  width: 100%;
  height: auto;
}
.feature-content-right {
  display: flex;
  justify-content: space-between;
}
.feature-content {
  width: calc(100% / 3);
  padding: 0 30px;
}
.feature-content:first-child {
  padding-left: 0;
}
.feature-content:last-child {
  padding-right: 0;
}
.cart-buy {
  text-align: center;
  margin-top: 90px;
}

/* .feature-title {
}
.feature-desc {
  margin-bottom: 119px;
}

.feature-item {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.feature-content-left {
  text-align: right;
  padding-right: 25px;
}
.feature-content-right {
  text-align: left;
  padding-left: 25px;
}
.feature-img {
  display: block;
  margin-bottom: 31px;
}
.feature-img img {
  width: 60px;
  height: 60px;
}
.feature-premium {
  margin-top: -19px;
}
.feature-name {
  margin-bottom: 8px;
}
.feature-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 52px;
  max-width: 295px;
  width: 100%;
}

.feature-image img {
  width: 100%;
  height: auto;
} */

/* STORY */
.story {
  /* margin-bottom: 20px; */
}
.story-desc {
  margin-bottom: 34px;
}
.story-img {
  width: 950px;
  height: 800px;
}
.story-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Ẩn ảnh */
.story-img #img-2 {
  display: none;
}

/* end test */
.story-img {
  text-align: center;
}
.story-content {
  background: var(--green-color);
  display: flex;
  padding: 0 375px;
  position: relative;
  justify-content: space-between;
}
.story-content::before {
  position: absolute;
  display: block;
  content: "";
  background: rgba(35, 161, 163, 0.3);
  padding: 5px 6px;
  width: 60%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.story-line::before {
  content: "";
  position: absolute;
  margin: -5px 0;
  height: 5px;
  background: #d72046;
  width: 300px;
  top: 0;
  left: 375px;
  bottom: 0;
}
/* .story-content::after{
    position: absolute;
    display: block;
    content: "";
    background: blue;
    width: 100%;
    top: 0;
    left: 50%;
    width: 291.89px;
    height: 5px;
    transform: translateX(-50%) translateY(-50%);
    padding: 5px 0 0 0;
} */
.story-item {
  padding: 59px 0;
  text-align: justify;
  position: relative;
  animation: story-item 0.2s linear 0.3s backwards;
  max-width: 717px;
  width: 100%;
  margin: 0 auto;
}
@keyframes story-item {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

/* .story-item::before{
    content: "";
    position: absolute;
    background: rgba(35, 161, 163, 0.3);
    margin: -5px 0;
    height: 5px;
    background: #D72046;
    width: 300px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */
.story-item {
  display: none;
}
.story-item.story-active {
  display: block;
}
.story-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white-color);
  /* margin-bottom: 20px; */
}
.sotry-description {
  /* font-weight: 300;
  font-size: 16px;
  line-height: 22px; */
  color: var(--white-color);
  max-width: 705px;
  width: 100%;
}
.sotry-description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
  margin-top: 30px;
}

/* checkbox */
/* copy from here */
.checkbox {
  display: flex;
  justify-content: center;
  margin: 10px 0 70px;
}
.scrolldown {
  --color: #d72046;
  --sizeX: 30px;
  --sizeY: 70px;
  position: relative;
  height: var(--sizeX);
  width: var(--sizeY);
  border: 1px solid var(--green-color);
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-shadow: -10px 0px 3px 1px var(--yellow-color);
}
.scrolldown:hover,
.scrolldown:hover .chevrondown {
  border-color: var(--primary-color);
}

@keyframes scrolldown-anim {
  /* 0% {
    opacity: 0;
    left: 10px;
  }
  40% {
    opacity: 1;
    left: 40px;
  }
  80% {
    left: 50px;
    opacity: 0;
  }
  100% {
    left: 60px;
    opacity: 0;
  } */
  from {
    left: 20px;
  }
  to {
    left: 50px;
    opacity: 0;
  }
}

.chevrons {
  margin-left: 70px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.chevrondown {
  position: relative;
  border: solid var(--green-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 5px;
  transform: translateY(-50%) rotate(-50deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
/* Checkbox */
.checkbox-image {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 50px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 77px;
  height: 27px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slip {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid var(--black-color);
  border-radius: 20px;
}
.slip:before {
  position: absolute;
  content: url(../images/story/iconright.png);
  height: 20px;
  width: 33px;
  top: 2px;
  left: 4px;
  bottom: 2px;
  line-height: 24px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slip {
  background-color: var(--white-color);
}

input:checked + .slip:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
  background-color: var(--primary-color);
}

.slip.round:before {
  border-radius: 20px;
}

/* Pani */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 52px 68px;
  background: rgba(255, 255, 255, 0.2);
}
.icon-click {
  /* color: rgba(255, 255, 255, 0.5); */
  color: #23a1a3;
  font-weight: 400;
  font-size: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  line-height: 50px;
}

.box {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  cursor: pointer;
  text-align: center;
}
.prev-btn {
  margin-bottom: 15px;
}

.box:hover .icon-click {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.box::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #f2b92b;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  line-height: 40px;
}

/* Detail */
/* .detail {
  display: none;
}
.detail-desc {
  margin-bottom: 119px;
}
.detail-img {
  text-align: center;
}
.detail-img img {
  width: 100%;
  height: auto;
} */
/*outline  */
.outline {
  /* margin-bottom: 90px; */
}
.outline-capital {
  display: none;
}
.outline-title {
  padding-top: 90px;
}
.outline-body {
  display: flex;
  align-items: center;
  width: 100%;
}
.outline-img {
  display: block;
  width: 50%;
}
.outline-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.outline-content {
  margin-left: 100px;
  color: var(--white-color);
  text-align: center;
  width: 50%;
}
.outline-desc {
  margin-bottom: 36px;
}
/* .outline-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 21px;
} */
.outline-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  /* or 156% */
  text-align: center;
  color: #000;
  max-width: 468px;
  width: 100%;
  margin: 0 auto 70px;
}

/* 360 */
.image360 {
}
.image360-main {
  position: relative;
}
.image360-desc {
  max-width: 723px;
  width: 100%;
  margin: 70px auto 0;
  color: #23a1a3;
}

.icon-360 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.image360-main:hover .icon-360 {
  display: none;
}
#product_viewer {
  cursor: pointer;
  /* padding: 100px 150px 150px 170px; */
}
#product_viewer img {
  width: 100%;
  height: 100%;
}
.content360 {
  position: absolute;
  top: 60%;
  right: 0;
}
.content360 span {
  font-weight: 700;
  font-size: 16px;
  line-height: 30;
  text-transform: uppercase;
}

/* Meaning */
.meaning {
  margin-bottom: 340px;
}
.meaning-main {
  overflow: hidden;
}
.meaning-one {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.meaningone-img {
  position: absolute;
  left: -437px;
  z-index: -1;
}

.svg-stt {
  font-weight: 100;
  font-size: 50px;
  line-height: 59px;
}
.svg-title {
  font-weight: 500;
  font-size: 100px;
  line-height: 117px;
  text-transform: uppercase;
}
.table-image {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* padding: 5px 10px 5px 0px; */
  /* border: 5px solid #f2b92b; */
  background: #ffffff;
}
.table-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* border: 3px solid #fff; */
  /* box-sizing: content-box;
  object-position: center; */
}

/* MEANING ONE */
.svg-heading {
  position: relative;
}
.svg-headingone {
  top: 163px;
  left: 78px;
}
.svg-heading::before {
  content: "";
  width: 6px;
  height: 100%;
  background: #000000;
  position: absolute;
  transform: skew(-20deg) translateY(-50%);
  left: -78px;
  top: 50%;
}
.svg-headingone .svg-stt {
  color: var(--white-color);
}
.svg-headingone .svg-title {
  color: var(--white-color);
}
.svg-headingone .svg-title span {
  color: #f2b92b;
}

.svg-image {
  position: absolute;
  width: 700px;
  height: 250px;
  top: 453px;
  z-index: -1;
}
.svg-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.svg-image2 {
  position: absolute;
  width: 800px;
  height: 495px;
  /* top: 453px; */
  left: 60px;
  bottom: 260px;
  z-index: -1;
}
.svg-image2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table,
.tablepillar {
  position: absolute;
  text-align: justify;
}
.table-first {
  max-width: 435px;
  width: 100%;
  top: 278px;
  right: 250px;
}
.table h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}
.table span {
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.table-two {
  max-width: 440px;
  width: 100%;
  top: 445px;
  right: 110px;
}
.table-three {
  max-width: 435px;
  width: 100%;
  top: 689px;
  left: 0;
}
.table-three h1,
.table-three span {
  color: white;
}
.table-four {
  max-width: 440px;
  width: 100%;
  top: 678px;
  right: 110px;
}
.table-five {
  max-width: 300px;
  width: 100%;
  top: 850px;
  right: 110px;
}
.table-six {
  max-width: 300px;
  width: 100%;
  bottom: 380px;
  right: 110px;
}
.table-seven {
  max-width: 410px;
  width: 100%;
  bottom: 120px;
  right: 610px;
}

.table-meaningone {
  border-top: 5px solid #f2b92b;
  border-right: 5px solid #f2b92b;
}
.table-two .table-image {
  top: -80px;
  right: -140px;
}
.table-four .table-image {
  top: -80px;
  right: -140px;
}
.table-six .table-image {
  top: -80px;
  right: -140px;
}
.table-seven .table-image {
  top: -80px;
  right: -140px;
}

/* MEANING TWO */
.meaning-two {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.meaningtwo-img {
  position: absolute;
  right: -448px;
  z-index: -1;
}
.svg-headingtwo .svg-stt {
  color: var(--primary-color);
}
.svg-headingtwo .svg-title {
  color: var(--primary-color);
}
.svg-headingtwo .svg-title span {
  color: var(--white-color);
}
.svg-image3 {
  position: absolute;
  width: 300px;
  height: 700px;
  top: -100px;
  right: 0;
  z-index: -1;
}
.svg-image3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.svg-image4 {
  position: absolute;
  width: 288px;
  height: 700px;
  top: 115px;
  right: 370px;
  z-index: -1;
}
.svg-image4 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tablepillar-first {
  max-width: 430px;
  width: 100%;
  top: 0px;
  left: 140px;
}
.tablepillar-two {
  max-width: 284px;
  width: 100%;
  top: 750px;
  right: -50px;
}
.tablepillar-two h1,
.tablepillar-three h1,
.tablepillar-three span,
.tablepillar-two span {
  color: #ffffff;
}
.tablepillar-three {
  max-width: 410px;
  width: 100%;
  bottom: 595px;
  right: 265px;
}
.tablepillar-four {
  max-width: 410px;
  width: 100%;
  top: 335px;
  left: 140px;
}
.tablepillar-five {
  max-width: 410px;
  width: 100%;
  top: 615px;
  left: 140px;
}
.tablepillar-four .table-image,
.tablepillar-five .table-image {
  left: -150px;
  top: -120px;
}
.table-meaningtwo {
  border-top: 5px solid var(--primary-color);
  border-left: 5px solid var(--primary-color);
}
.svg-headingtwo {
  top: -440px;
  left: 415px;
}

/* MEANING THREE */
.meaning-three {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: -345px auto 0;
}
.svg-headingthree {
  position: relative;
  top: 265px;
  left: 80px;
}
.svg-headingthree .svg-stt {
  color: var(--white-color);
}
.svg-headingthree .svg-title {
  color: var(--white-color);
}
.svg-headingthree .svg-title span {
  color: var(--green-color);
}
.svg-image5 {
  position: absolute;
  width: 700px;
  height: 568px;
  top: 615px;
  left: 165px;
  z-index: -1;
}
.svg-image5 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tableleg-first {
  max-width: 410px;
  width: 100%;
  bottom: 410px;
  left: 140px;
}
.tableleg-first h1,
.tableleg-first span {
  color: #ffffff;
}
.tableleg-two {
  max-width: 440px;
  width: 100%;
  top: 400px;
  right: 120px;
}
.tableleg-three {
  max-width: 338px;
  width: 100%;
  top: 720px;
  right: 120px;
}
.tableleg-four {
  max-width: 338px;
  width: 100%;
  bottom: 528px;
  right: 120px;
}
.table-meaningthree {
  top: -100px;
  right: -150px;
}
.table-meaningthree {
  border-top: 5px solid var(--green-color);
  border-right: 5px solid var(--green-color);
}
/* .meaning-two svg {
  position: absolute;
  top: 0;
} */

/* .meaning-heading {
  margin-right: 534px;
  position: relative;
}
.meaning-heading h1 {
  margin-right: 60px;
}
.meaning-heading::before {
  content: url(../images/threesome.png);
  position: absolute;
  left: 86%;
  transform: translateX(-50%) translateY(-50%);
}
.meaning-heading h1,
.meaning-heading .meaning-desc {
  text-align: right;
}
.meaning-content img {
  width: 100%;
  height: auto;
}

.meaning-item {
  margin-top: -100px;
}
.pd-right {
  padding-right: 239px;
}
.pd-left {
  padding-left: 281px;
  margin-top: -250px;
}
.mr-t {
  margin-top: -615px;
} */

/* Price */
.price {
  margin-bottom: 110px;
  margin-top: -380px;
}
.price-main {
  display: flex;
  align-items: center;
  width: 100%;
}

.price-heading {
  margin-right: 30px;
  max-width: 370px;
  width: 100%;
}
.price-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* or 114% */
  color: var(--black-color);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.price-title p {
  font-family: "Poiret One";
  font-style: normal;
  margin-top: 19px;
  font-weight: 700;
  font-size: 70px;
  line-height: 50px;
  /* identical to box height, or 71% */
  text-transform: capitalize;

  letter-spacing: 0.1em;
}

.price-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  /* identical to box height, or 250% */
  color: #8e8e8e;
  margin-bottom: 26px;
}
.price-price {
  font-weight: 300;
  font-size: 50px;
  line-height: 40px;
  color: var(--primary-color);
  position: relative;
  padding-left: 72px;
  margin-bottom: 32px;
}
.price-price::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  border: 1px solid #d32046;
  height: 0;
  width: 70px;
  left: -10px;
  top: 50%;
}
.price-desc {
  text-align: justify;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--black-color);
  margin-bottom: 41px;
}
.price-image {
  background: url(../images/price/vector.png) no-repeat right/contain;
  width: 100%;
  height: 100%;
}
.price-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* padding: 100px 0 40px 0; */
  padding: 60px 100px 40px 100px;
}

/* MEDIA */
.media-desc {
  margin-bottom: 70px;
}
.media-list {
}
.media-image {
  display: none;
}
.media-image.activeddd {
  display: block;
}
.media-group {
  display: flex;
  flex: 0 0 100%;
}

.media-big {
  width: 540px;
  height: 874px;
}
.media-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-small {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.media-small_up {
  margin-bottom: 30px;
}
.media-pani {
  margin-top: 44px;
  margin-bottom: 70px;
}
.media-video {
  display: flex;
  align-items: center;
}
.media-small_up,
.media-small_down {
  width: 600px;
  height: 422px;
}
.video-item {
  /* width: calc(100% / 3); */
  /* margin: 0 15px; */
  overflow: hidden;
}
.video-item iframe {
  width: 100%;
  height: 210px;
  border: none;
}

.video-item span {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.media-pani {
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-btn {
  width: 8px;
  height: 8px;
  background: #e5e5e5;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
}
.media-btn.activeddd {
  background: #d72046;
  position: relative;
}
.media-btn:hover {
  background: #d72046;
}
.media-btn.activeddd::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid var(--yellow-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* experience */
.experience-main {
}
.experience-heading {
  margin-bottom: 70px;
}
.experience-body {
  position: relative;
  display: flex;
  align-items: center;
}
.experience-image {
  display: block;
}
.experience-image img {
  width: 100%;
  height: auto;
}
.experience-content {
  flex: 1;
  /* background: url("/assets/images/experience/vector2.png"); */
}
.experience-images {
  display: block;
  position: relative;
}
.experience-images img {
  width: 100%;
}
.experience-list {
  position: absolute;
  max-width: 270px;
  width: 100%;
  top: 50%;
  left: 55%;
  transform: translateX(-50%) translateY(-50%);
}
.experience-items {
  display: none;
}
.experience-items.change {
  display: block;
}
.experience-titlee {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}
.experience-descc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  text-align: justify;
  color: var(--white-color);
  margin-bottom: 15px;
}

.experience-avt,
.experience-nagi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.experience-btn {
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.experience-btn:hover {
  width: 7px;
  height: 7px;
  background: var(--white-color);
}
.experience-btn.change {
  width: 7px;
  height: 7px;
  background: var(--white-color);
}
.experience-name {
  color: var(--white-color);
}
/* .experience-body {
  margin-left: 40px;
  position: relative;
  max-width: 640px;
  width: 100%;
}
.experience-heading {
  margin-bottom: 76px;
}
.experience-title {
  padding-top: 70px;
}
.experience-content {
  color: var(--white-color);
  text-align: justify;
  position: relative;
}
.experience-image {
  position: relative;
  display: block;
}
.experience-image img {
  width: 100%;
  height: auto;
}
.experience-items.change {
  display: block;
}
.experience-items {
  position: absolute;
  display: none;
  max-width: 300px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-45%) translateY(-65%);
}

.experience-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.experience-description {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}
.experience-customer {
  display: flex;
  align-items: center;
}
.experience-avt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 13px;
}
.experience-avt img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.position-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--white-color);
}
.position-position {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: var(--white-color);
  text-transform: uppercase;
} */

/* Nagi ex */
/* .experience-nagi {
  position: absolute;
  display: flex;
  top: 73%;
  left: 66%;
  / right: 30%; /
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
}
.experience-nagi .nagi {
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 4px;
  border-radius: 50%;
  cursor: pointer;
}
.experience-nagi .nagi.change {
  width: 8px;
  height: 8px;
  background: var(--white-color);
}
.experience-nagi .nagi:hover {
  width: 8px;
  height: 8px;
  background: var(--white-color);
} */

/* CONTACT */
.contact {
  /* margin-bottom: 72px; */
}
.contact-main {
  display: flex;
}

.contact-body {
  margin-left: 30px;
  width: 60%;
}
.contact-heading {
}
.contact-title {
  text-align: left;
}
.contact-desc {
  text-align: left;
  max-width: 505px;
  margin-bottom: 36px;
}
.contact-content {
}
.contact-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(35, 161, 163, 0.9);
  margin-bottom: 18px;
}
.contact-hotline {
  display: flex;
  list-style: none;
  align-items: center;
}
.contact-hotline li {
  padding: 0 34px;
  border-right: 1px solid var(--black-color);
}
.contact-hotline li:first-child {
  padding-left: 0;
}
.contact-hotline li:last-child {
  border: 0;
  padding-right: 0;
}
.contact-hotline a:hover {
  color: var(--primary-color);
}
.contact-hotline a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
}
.contact-hotline i {
  margin-right: 30px;
}

/* Form */
.form-contact {
  margin-top: 140px;
  clear: both;
  width: 40%;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.clear {
  clear: both;
}
.col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}

.form-contact .form-field {
  position: relative;
  margin-bottom: 5px;
}
.form-field .control-form {
  display: block;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: #c4c4c4;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0;
  font-family: Roboto;
}
.form-field .control-form:focus {
  outline: none;
}
.submit-btn {
  position: relative;
  padding: 10px 38px;
  background: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 40px; */
  border: none;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(215, 32, 70, 0.2);
  box-shadow: 0px 0px 0px 5px rgba(215, 32, 70, 0.2);
  margin-top: 10px;
}
.submit-btn:hover {
  opacity: 0.7;
}

/* Maps */
.maps {
  /* margin-bottom: 63px; */
}
.maps-main {
  width: 100%;
}
.maps-image {
  position: relative;
  display: block;
}
.maps-image img {
  height: auto;
  width: 100%;
}
.maps-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: var(--white-color);
  padding: 36px 57px;
  max-width: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* .maps-content::before{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    width: 1px;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
} */
.span-top {
  position: absolute;
  height: calc(100% / 3);
  width: 1%;
  background: var(--green-color);
  left: 0;
  top: 0;
}
.span-center {
  position: absolute;
  height: calc(100% / 3);
  width: 1%;
  background: var(--yellow-color);
  left: 0;
  top: calc(100% / 3);
}
.span-bottom {
  position: absolute;
  height: calc(100% / 3);
  width: 1%;
  background: var(--primary-color);
  left: 0;
  bottom: 0;
}
.maps-item {
  display: flex;
}
.maps-item i {
  margin-right: 24px;
  font-size: 22px;
  line-height: 30px;
}
i.maps-icon.icon-web {
  font-size: 19px;
  margin-right: 28px;
}
.maps-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  color: var(--black-color);
  /* or 188% */
}
.maps-address {
  margin-bottom: 5px;
}

/* Footer */
.footer-main {
  text-align: center;
  padding: 54px 0;
  background: var(--primary-color);
}
.footer-menu {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 34px;
}
.footer-menu .menu-item {
  padding: 0 40px;
  border-right: 1px solid var(--white-color);
}
.footer-menu .menu-item:last-child {
  border-right: 0;
}
.footer-menu .menu-item a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 200;
  font-size: 20px;
  line-height: 27px;
  transition: all 1s linear;
}
.footer-menu .menu-item a:hover {
  padding: 0 0 2px 0;
  transition: all 1s linear;
  border-bottom: 1px solid #ccc;
}
.footer-copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  /* or 100% */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-icons {
  display: none;
}
